<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 정보 수정</title>
</head>
<body>
<h1>회원 정보 수정</h1>
<form th:action="@{/users/{userId}/update(userId=${userId})}" th:object="${userUpdateRequestDto}" method="post">
    <div>
        <label for="nickname">새 닉네임:</label>
        <input type="text" id="nickname" th:field="*{nickname}" required>
        <div th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}">Nickname Error</div>
    </div>
    <button type="submit">수정하기</button>
</form>
</body>
</html>